<%- cache(element) do -%>
  <%= element_view_for(element) do |el| -%>
        <zeugnis>
    <div class="kopflinie">
      <%= el.render :kopflinie %>
    </div>
    <div class="langtext">
      <%= el.render :langtext %>
    </div>
        </zeugnis>
  <%- end -%>
<%- end -%>
