<%- cache(element) do -%>
  <%= element_view_for(element) do |el| -%>
        <div class="zeugnis fu">
    <div class="kopflinie">
      <%= el.render :kopflinie %>
    </div>
    <div class="langtext">
      <%= el.render :langtext %>
    </div>
        </div>
  <%- end -%>
<%- end -%>
