<%- cache(element) do -%>
  <%= element_view_for(element) do |el| -%>
    <div class="image">
      <%= el.render :image %>
    </div>
    <div class="text">
      <%= el.render :text %>
    </div>
    <div class="link">
      <%= el.render :link %>
    </div>
  <%- end -%>
<%- end -%>
